<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Who wants to be a millionaire?
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  <ion-card></ion-card>
  <ion-card>
    <ion-item>
      <ion-label>
        <h1>
          Quiz
        </h1>
      </ion-label>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card  style="--ion-text-color: #3880ff;">
            <ion-card-header>
              <ion-toolbar *ngIf="level===0">
                  <ion-row *ngIf="!this.isDesktop()">
                    <ion-col>Topic: {{ questionTopic }}</ion-col></ion-row>
                  <ion-row *ngIf="!this.isDesktop()" >
                    <ion-col>Difficulty: {{ questionDifficulty }}</ion-col>
                  </ion-row>
                  <ion-title size="large" *ngIf="this.isDesktop()">
                  Topic: {{ questionTopic }} Difficulty: {{ questionDifficulty }}
                </ion-title>
              </ion-toolbar>
              <ion-list>
                <ion-item *ngIf="level===0">
                  <ion-select
                    id="topicSelect"
                    aria-label="Topic"
                    [compareWith]="compareWith"
                    placeholder="Select topic"
                    (ionChange)="handleTopicSelectChange($event)"
                    [multiple]="false">
                    <ion-select-option *ngFor="let topic of topicList" [value]="topic">{{ topic }}</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-list>
              <ion-list>
                <ion-item *ngIf="level===0">
                  <ion-select
                    id="difficultySelect"
                    aria-label="Difficulty"
                    [compareWith]="compareWith"
                    placeholder="Select difficulty"
                    (ionChange)="handleDifficultySelectChange($event)"
                    [multiple]="false">
                    <ion-select-option *ngFor="let difficulty of difficultyList" [value]="difficulty">{{ difficulty }}</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-list>
            </ion-card-header>
            <ion-card-title *ngIf=" questionTopic !== '' && questionDifficulty !== '' " style="{{'background: border-radius: 5px;'}}" >
              <ion-row>
                <ion-card color="primary">
                  <ion-card-header>
                    <ion-card-title>{{quizList[level].value }}</ion-card-title>
                  </ion-card-header>
                  <ion-card-content></ion-card-content>
                </ion-card>
              </ion-row>
            </ion-card-title>
            <ion-card-subtitle ></ion-card-subtitle>
            <ion-radio-group value="questions" *ngIf=" questionTopic !== '' && questionDifficulty !== '' ">
            <ion-card-content>
              <ion-item class="item-text-wrap" *ngFor="let item of quizList[level].answers">
                <ion-radio justify="space-between" value="{{item}}" (click)="selectedAnswer = item"><span class="ion-text-wrap">{{"ASDASDASDASDASDASDASDASDASDASDASDASDASDASDASDASDASDASDASDASDASDAASDASDASDASDASDASDASDASDASDASDASDASDASDASDASDASDASDASDASDASDASDASDASDASDASDASDASDASDASDASDASDASDASDASDASDASDASDASDSDASDASDASDASDASDASDASDASDASDASDASDASDASDASDASDASD"}}</span></ion-radio><br />
              </ion-item>
              <ion-row>
                <ion-col></ion-col>
                <ion-col></ion-col>
                <ion-col></ion-col>
                <ion-col></ion-col>
                <ion-col></ion-col>
                <ion-col></ion-col>
                <ion-col></ion-col>
                <ion-col></ion-col>
                <ion-col></ion-col>
                <ion-col></ion-col>
                <ion-col></ion-col>
                <ion-col><ion-button *ngIf=" quizList[level].value !== 'Fail' && quizList[level].value !== 'CONGRATULATIONS!!! YOU ARE A MILLIONAIRE!!'" style="width: 100%; display:inline-block;" (click)="checkAnswer(selectedAnswer)">Next</ion-button>
                  <ion-button *ngIf=" quizList[level].value === 'Fail' || quizList[level].value === 'CONGRATULATIONS!!! YOU ARE A MILLIONAIRE!!';" style="width: 100%; display:inline-block;" (click)="reloadPage()">Try Again</ion-button>
            </ion-col></ion-row></ion-card-content>
            </ion-radio-group>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
