<ion-header>
  <ion-toolbar>
    <ion-title>
      {{isDesktop() ? 'Who wants to be a millionaire?' : 'Millionaire'}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-alert
  css-class="cssalert"
  [isOpen]="isAlertOpen"
  header="{{prizesList[level]}}"
>
</ion-alert>
<ion-content [fullscreen]="true">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ng-container *ngIf="networkError">
          <ion-header>
            <ion-toolbar><ion-row>
              <ion-title color="warning"><ion-col><ion-icon name="cloud-offline-outline" size="large"></ion-icon></ion-col><ion-col>Network connection error has occured.</ion-col></ion-title></ion-row>
            </ion-toolbar>
          </ion-header>
          </ng-container>
          <ion-row *ngIf="level===0 && !startBtnClicked">
          <ion-col size="4"></ion-col>
          <ion-col size="4">
          <ion-img
            src="././assets/millionaire.png"
            style="{{isDesktop() ? 'height: 500px; width: 500px;' : 'height: 100px; width: 100px;'}}"
          ></ion-img></ion-col><ion-col size="4"></ion-col></ion-row>
          <ion-card  style="--ion-text-color: #3880ff;">
            <ion-list *ngIf="level===0 && !startBtnClicked">
              <ion-item>
                <ion-select justify="start" label="Topic:" aria-label="topic" placeholder="{{questionTopic}}"  id="topicSelect" (ionChange)="handleTopicSelectChange($event)">
                  <ion-select-option *ngFor="let topic of topicList" [value]="topic">{{ topic }}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-select justify="start" label="Difficulty:" aria-label="difficulty" placeholder="{{questionDifficulty}}"  id="difficultySelect" (ionChange)="handleDifficultySelectChange($event)">
                  <ion-select-option *ngFor="let difficulty of difficultyList" [value]="difficulty">{{ difficulty }}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
            <ion-card-header *ngIf="level===0 && !startBtnClicked && networkError ==='' ">
            <ion-button expand="block" (click)="startQuiz()" id="startBtn">START</ion-button>
            </ion-card-header>
            <ion-card-title *ngIf=" quizList[level] && startBtnClicked" style="{{'background: border-radius: 5px;'}}" >
                <ion-card [ngStyle]="{'background': quizList[level].value === 'CONGRATULATIONS!!! YOU ARE A MILLIONAIRE!! YOU JUST WON '+ this.prizesList[14] + '!!!' ? 'orange' : ''}" color="primary">
                  <ion-card-header>
                    <ion-card-title style="text-align: center" >{{quizList[level]?.value }}</ion-card-title>
                  </ion-card-header>
                  <ion-card-content></ion-card-content>
                </ion-card>
            </ion-card-title>
            <ion-card-subtitle >
            </ion-card-subtitle>
            <ion-radio-group value="questions" *ngIf=" questionTopic !== '' && questionDifficulty !== '' && startBtnClicked ">
            <ion-card-content>
              <ion-item [ngStyle]="{ '--background': !active && selectedAnswer === item  ? '#eb445a' : ''}"
                class="item-text-wrap" *ngFor="let item of quizList[level]?.answers" style="{{!active && item === quizList[level]?.correct_answer ? '--background: #006600' : '' }}">
                <ion-col *ngIf="usePhone && item === quizList[level]?.correct_answer "><ion-icon name="call-outline"></ion-icon></ion-col>
                <ion-badge *ngIf="Object.keys(statDict).length" slot="start">{{  getStat(item).toString().length < 2 ? getStat(item) +  " % " : getStat(item) + "%" }}</ion-badge> <ion-radio justify="space-between" value="{{item}}" (click)="selectAnswer($event)"><span class="ion-text-wrap">{{item}}</span>
                  </ion-radio><br />
              </ion-item>
            </ion-card-content>
              <ion-card-content>
              <ion-row>
                <ion-col><ion-button matTooltip="{{ getTooltip('audience') }}"
                                     matTooltipPosition="above"
                                     [ngStyle]="{'--background': help_modules['audience'] ? '#3880ff' : 'red' }"
                                     *ngIf=" quizList[level].value !== 'Fail' && quizList[level].value !== 'CONGRATULATIONS!!! YOU ARE A MILLIONAIRE!! YOU JUST WON '+ this.prizesList[14] + '!!!'"
                                     style="width: 100%; display:inline-block;" (click)="audience()">Audience
                </ion-button></ion-col>
                <ion-col><ion-button matTooltip="{{ getTooltip('halving') }}"
                                     matTooltipPosition="above"
                                     [ngStyle]="{'--background': help_modules['halving'] ? '#3880ff' : 'red' }"
                                     *ngIf=" quizList[level].value !== 'Fail' && quizList[level].value !== 'CONGRATULATIONS!!! YOU ARE A MILLIONAIRE!! YOU JUST WON '+ this.prizesList[14] + '!!!'"
                                     style="width: 100%; display:inline-block;" (click)="halving()">Halving
                </ion-button></ion-col>
                <ion-col><ion-button matTooltip="{{ getTooltip('phone') }}"
                                     matTooltipPosition="above"
                                     [ngStyle]="{'--background': help_modules['phone'] ? '#3880ff' : 'red' }"
                                     *ngIf=" quizList[level].value !== 'Fail' && quizList[level].value !== 'CONGRATULATIONS!!! YOU ARE A MILLIONAIRE!! YOU JUST WON '+ this.prizesList[14] + '!!!'"
                                     style="width: 100%; display:inline-block;" (click)="phone()">Phone
                </ion-button></ion-col>
                <ion-col></ion-col>
                <ion-col></ion-col>
                <ion-col></ion-col>
                <ion-col></ion-col>
                <ion-col></ion-col>
                <ion-col></ion-col>
                <ion-col></ion-col>
                <ion-col></ion-col>
                <ion-col><ion-button *ngIf=" quizList[level]?.value !== 'Fail' && quizList[level]?.value !== 'CONGRATULATIONS!!! YOU ARE A MILLIONAIRE!! YOU JUST WON '+ this.prizesList[14] + '!!!' && active" style="width: 100%; display:inline-block;" (click)="checkAnswer(selectedAnswer)">Next</ion-button>
            </ion-col></ion-row></ion-card-content>
            </ion-radio-group>
            <ion-card-content *ngIf=" !active && quizList[level] || quizList[level]?.value === 'CONGRATULATIONS!!! YOU ARE A MILLIONAIRE!! YOU JUST WON '+ this.prizesList[14] + '!!!' || networkError !=='';">
              <ion-button class="n-submit"  style="width: 100%; display:inline-block;" (click)="reloadPage()">Try Again</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
