.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}


.btn-grad {
  --background: none;
  background-image: linear-gradient(to right, #8a52fd 0%, #67c7e7 51%, #8a52fd 100%);
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 4px;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}


#questionCard {
  background-image: linear-gradient(to right, #4776E6 0%, #8E54E9 51%, #4776E6 100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;

}


#questionCard:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.grad2 {
  background-image: linear-gradient(to right, #4776E6 0%, #8E54E9 51%, #4776E6 100%);
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 5px;
}


.grad2:hover {
  background-position: right center; /* change the direction of the change here */
  color: #eca01c;
  text-decoration: none;
}


.selected_answer {
  background-image: linear-gradient(to right, #FF8008 0%, #FFC837 51%, #FF8008 100%);
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 5px;
  display: block;

}


.selected_answer:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.wrong_answer {
  background-image: linear-gradient(to right, #F00000 0%, #DC281E 51%, #F00000 100%);
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 5px;
  display: block;

}


.wrong_answer:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}


.correct_answer {
  background-image: linear-gradient(to right, #56ab2f 0%, #a8e063 51%, #56ab2f 100%);
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 5px;
  display: block;

}

.correct_answer {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.feedBackCard {
  background-image: linear-gradient(to right, #4776E6 0%, #8E54E9 51%, #4776E6 100%);
}

span {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  clear: both;
  contain: content;
  word-break: break-all;
  text-align: left;

}


.answer {
  background-image: linear-gradient(to right, #ffffff 0%, #eeeded 51%, #ffffff 100%);
  border-image: linear-gradient(#4776E6, #8E54E9) 10;
  border-width: 5px;
  border-style: solid;
  text-align: left;
  text-transform: uppercase;
  opacity: 0.9;
  background-size: 200% auto;
  color: black;
  box-shadow: 0 0 20px #eee;
  border-radius: 5px;
  display: block;
}

.answer:hover {
  background-image: linear-gradient(to right, #ffffff 0%, #eca01c 51%, #ffffff 100%);
  background-position: right center; /* change the direction of the change here */
  color: #ffffff;
  text-decoration: none;
}

.disabled_answer {
  background-image: linear-gradient(to right, #ffffff 0%, #eeeded 51%, #ffffff 100%);
  text-transform: uppercase;
  opacity: 0.5;
  background-size: 200% auto;
  color: black;
  box-shadow: 0 0 20px #eee;
  border-radius: 5px;
  display: block;
}

.answer_transition {
  transition: 0.5s;
}

ion-chip {
  padding-left: 3px;
}








